
/* antd override */
input{
  border-radius: 8px !important;
  border: 1px solid rgba(255, 255, 255, 0.521) !important;
  height: 40px !important;
}
input:focus , .ant-picker{
  outline: none !important;
  box-shadow: none !important;
  border: 1px solid gray !important;
}
label{
  font-size: 16px !important;
  color: black !important;
}
.ant-form-item{
  margin: 10px 0 !important;; 
}
.ant-picker-input input{
  border: none !important;
}
.ant-picker{
  border-radius: 2px !important;
  border: 1px solid rgba(128, 128, 128, 0.521) !important;
  height: 40px !important;
}
/* Common styling */

.spinner-parent{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.704);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
}
.spinner-border{
  width: 5rem;
  height: 5rem;
  color: white !important;
}

.page-title{
  font-size: 25px;
  color: rgba(0, 0, 0, 0.833);
  font-weight: bold;
}
.card-title{
  font-size: 22px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.627);

}
.normal-text{
  font-size: 1rem;
}
.card{
  box-shadow: 0 0 2px rgb(189, 188, 188);
  border-radius: 0 !important;
}
.primary-button{
  background-color: #ff0606 !important;
  border-color: #f60f0f !important;
  height: 40px !important;
  width: 100% !important;
  color: white !important;
  font-size: 16px !important;
  width: max-content !important;
  border-radius: 20px;
}
.full-width-button{
  width: 100% !important;
}
p{
  color: rgba(0, 0, 0, 0.673) !important;
  padding: 0 !important;
  margin: 0 !important;
  font-weight: 1000;
}

.anchor{
  color: rgb(62, 8, 8) !important;
  text-decoration: underline;
  cursor: pointer;
  font-size: 13px !important;
  text-align: center;
  align-self: center;
  font-weight: 650;
  
}
.anchor:hover{
  text-decoration: underline !important;
}

.cursor-pointer{
  cursor: pointer;
}


/* authentication pages */

.authentication{
  
   height: 100vh;
   display: flex;
   justify-content: left;
   background-image : url("https://firebasestorage.googleapis.com/v0/b/nosql-69b12.appspot.com/o/heart-shape-stethoscope-medical-subjects%20(4).jpg?alt=media&token=a2b002cc-1944-4826-94e1-a266dcc700ff&_gl=1*1wnu6gv*_ga*Njg4NDcwNjU1LjE2OTY1MDQ3OTY.*_ga_CW55HF8NVT*MTY5Nzg3ODk4Ni40LjEuMTY5Nzg3OTY3MC41My4wLjA.");
   background-color: black;
}

.authentication1{
  display: flex;
  background-image : url("https://firebasestorage.googleapis.com/v0/b/nosql-69b12.appspot.com/o/heart-shape-stethoscope-medical-subjects%20(4).jpg?alt=media&token=a2b002cc-1944-4826-94e1-a266dcc700ff&_gl=1*1wnu6gv*_ga*Njg4NDcwNjU1LjE2OTY1MDQ3OTY.*_ga_CW55HF8NVT*MTY5Nzg3ODk4Ni40LjEuMTY5Nzg3OTY3MC41My4wLjA.");
  background-color: black;
}

.authentication-form{
  width: 400px;   
  background: rgba(242, 156, 156, 0.132);
  backdrop-filter: blur(18px);
  border: 0px;
  
}




.authentication .card-title{
  font-size: 1.5rem;
  font-weight: bold;
  background-color: rgb(255, 0, 0);
  color: white !important;
  max-width: max-content !important;
  padding: 7px 15px;
  margin-top: 150px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;

}

.authentication1 .card-title{
  font-size: 1.5rem;
  font-weight: bold;
  background-color: rgb(255, 0, 0);
  color: white !important;
  max-width: max-content !important;
  padding: 7px 15px;
  margin-top: 70px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

